<!--Пока будет такая заглушка вместо более детального описания тура-->
<div class="tourInfoDetails" *ngIf="_tour">
  <app-tour [tour]="_tour"></app-tour>
  <div class="tourInfoActions">
    <button mat-raised-button
            *ngIf="!isOrdered; else cancel"
            [disabled]=!_tour.isAvailable()>Регистрация</button>
    <ng-template #cancel>
      <button mat-raised-button
              [disabled]="_tour.isGoing()">Отменить регистрацию</button>
    </ng-template>
  </div>
</div>

<router-outlet></router-outlet>

