<!--Пока будет такая заглушка вместо более детального описания тура-->
<div class="tourInfoDetails" *ngIf="tour">
  <app-tour [tour]="tour"></app-tour>
  <div class="tourInfoActions">
    <button mat-button
            *ngIf="!isTourOrderedByUser; else cancel"
            [disabled]="!tour.isAvailable">Регистрация</button>
    <ng-template #cancel>
      <button mat-button
              [disabled]="!tour.checkDate">Отменить регистрацию</button>
    </ng-template>

  </div>
</div>

<router-outlet></router-outlet>

